* {
    transition: 0.5s ease;
}

html,
body {
    background-color: #372618 !important;
    width: 100vw;
}

}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
    background-color: black;
}

.footer {
    height: 100%;
    margin-top: -50px;
}



#nav1 {
    padding-top: 5px;
    opacity: .8;
    font-size: 35px;
    white-space: pre;
    font-family: 'Raleway', sans-serif;
}


.showcase1 {
    color: white;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    margin-top: 220px;
}


.showcase2 {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: tan;
}

.textBox {
    background-color: white;
    height: 100%;
    opacity: .8;
    color: black;
    border-radius: 1%;
    box-shadow: 10px 5px 15px black;
}


.footer {
    height: 100px;
    background-color: black;
    bottom: 0;
}

.section {
    height: 100%;
    background-color: white;
}

.section-inner {
    color: white;
    border-radius: 1%;
    background-color: tan;
    box-shadow: 10px 5px 15px #dcdddd;
}

.inner-text {
    border: 3px solid white;
    font-weight: lighter;
}

div h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#introPhoto,
#animal {
    border-radius: 1%;
    box-shadow: 10px 5px 15px black;
}

#animal {
    padding: 0px;
}

#nav2 li a {
    padding: 10px;
    color: tan;
    font-size: 20px;
    border-radius: 5%;
    font-family: 'Raleway', sans-serif;
}

#nav2 li a:hover {
    -webkit-filter: blur(.6px);
    filter: blur(.6px);
    color: #3CDABA;
}

.fullbg {
    background-color: tan;
}

.social a {
    color: #3CDABA;
    text-decoration: none;
    font-size: 48px;
}

#nav1 img {
    float: left;
    width: 16rem;
}

#altnav {
    background-color: black;
    height: 80px;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 150px;
}

#altnav i {
    color: tan;
    float: right;
    padding: 20px;
    font-size: 40px;
}

#altnav i:hover {
    color: #40DBBB;
    cursor: pointer;
}

#altnav {
    display: none;
}

#altnav i:active {
    color: #40DBBB;
    transform: scale(0.8);
}

/*styling for gallery page*/

#slideshow {
    margin-bottom: 50px;
}

.title {
    font-size: 3vw;
    color: tan;
}

.contactTitle {
    margin-bottom: 5%;
}

#ourTeam {
    margin-top: 250px;
}

/*styling for team photo*/

#team {
    margin-bottom: 10%;
}

/*calendar*/

.eventsTitle {
    margin-top: 250px;
    color: tan;
}

.calendarLG {
    margin-bottom: 100px;
    width: 100%;
}

/*switch display mobile / desktop*/

.calenderSM {
    display: none;
}

@media (max-width:555px) {
    .calendarLG {
        display: none;
    }
}



.contactTitle {
    margin-top: 250px;
    color: tan;
}

.subTitle {
    color: tan;
}

.contactForm p {
    color: tan;
}

.input {
    width: 300px;
    ;
}

.input:placeholder {
    color: #40DBBB;
}

.send:hover {
    background-color: #40DBBB;
}

.send:active {
    transform: scale(.9);
}

.form {
    margin-bottom: 100px;
}

.form img {
    opacity: .8;
}

.links {
    margin-bottom: 220px;
    border-radius: 5px;
}

.resourceTitle {}

.service {
    height: 100px;
}

.serviceDiv:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/*jquery class toggle*/

.open {
    background-color: black;
    width: 40vw;
    height: 40vh;
    text-align: left;
    float: right;
}

.list {
    display: none;
    list-style: none;
    line-height: 2em;
}

.list a {
    text-decoration: none;
}

.openList {
    display: block;
}

/*all media queries*/

@media(max-width:992px) {
    #animal {
        margin-bottom: 45px !important;
    }
}

@media (max-width:777px) {
    #nav1 li a {
        font-size: 25px;
    }

    #dog {
        margin-top: 30px;
    }

    .form {
        margin: 50px;
    }

    .service {
        margin-top: 50px;
    }

}

@media (max-width: 655px) {
    #nav1 li a {
        font-size: 20px;
        white-space: pre;
        text-align: center;
    }

    #altnav {
        display: block;
    }

    #nav2 {
        display: none;
    }
}



@media (max-width:555px) {
    #nav1 li a {
        font-size: 18px;
        white-space: pre;
    }


    #slideshow {
        width: 100% !important;
    }

}

@media(max-width:520px) {
    #nav1 ul {
        display: none;
    }

    #nav1 {
        background-image: url('../img/mobileLogo.png');
        background-size: cover;
        width: 100%;
    }

    #nav1 ul {
        height: 200px;
    }
}
