* {
    transition: 0.5s ease;
}


body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

#nav1 {
    opacity: .8;
    font-size: 30px;
    white-space: pre;
}

.showcase1 {
    margin-top: 290px;
    margin-bottom: 100px;
    color: white;
}

.showcase2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: tan;
}

.textBox {
    background-color: white;
    opacity: .8;
    color: black;
    border-radius: 1%;
    box-shadow: 10px 5px 15px black;
}

.footer {
    height: 100px;
    background-color: black;
}

.section {
    height: 100%;
    background-color: white;
}

.section-inner {
    color: white;
    border-radius: 1%;
    background-color: tan;
    box-shadow: 10px 5px 15px #dcdddd;
}

.inner-text {
    border: 3px solid white;
    font-weight: lighter;
}

div h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#introPhoto,
#animal {
    padding-top: 20px;
    border-radius: 1%;
    box-shadow: 10px 5px 15px black;
}

#animal {
    padding: 0px;
}

#nav2 li a {
    padding: 10px;
    color: tan;
    font-size: 20px;
    border-radius: 5%;
    font-family: 'Raleway', sans-serif;
}

#nav2 li a:hover {
    -webkit-filter: blur(.6px);
    filter: blur(.6px);
    color: #3CDABA;
}

@media (max-width:500px) {
    #nav2 li a {
        display: none;
    }
    #nav2 li a .alt {
        display: block;
    }

}

.fullbg {
    background-color: tan;
}

.social a {
    color: #3CDABA;
    text-decoration: none;
    font-size: 48px;
}
